.list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movieLink {
    font-weight: 500;
    text-decoration: none;
    transition: color 200ms var(--timing-function),
}
.movieLink:hover {
    color: var(--second-text-color);
}
.movieLink:active {
    color: var(--accent-color);
}

